.item-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0px 5% 0px;
}

.item-page img {
    max-width: 20%;
}

.item-info {
    align-self: start;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item-info h2 {
    margin: 0;
    border-bottom: 1px solid white;
}

.item-info p {
    margin-top: 0;
}
