.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {

    flex: auto;
    padding: 10px;
    border-bottom: solid 1px white;
}

.navbar a +  a {
    border-left: solid 1px white;
}

.navbar a:hover {
    background-color: rgb(4, 4, 4);
}